# Personal testing
/asm.asm

# Intel x86-64 SDM
/252046-sdm-change-document.pdf
/325462-sdm-vol-1-2abcd-3abcd.pdf
/architecture-instruction-set-extensions-programming-reference.pdf

# Generated
/public/sitemap.xml

# Node.js
node_modules/

# Next.js
.next/

# Miscellaneous
.DS_Store

# Debug
yarn-debug.log
yarn-error.log

# dotenv
.env.local
.env.development.local
.env.test.local
.env.production.local
